# Environment Files
.env
.env.local
.env.local.php
.env.*.local

# Composer
/vendor
composer.lock
composer.pchar

# Temporary Files
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

# Visual Studio Code
/.vscode

# Idea
/.idea

# NodeJS
/node_modules
npm-debug.log