/*
 * CONFIGURATION
 */

:root {
	--color-white: hsla(0, 0%, 100%, 1);
	--color-black-1: hsla(240, 9%, 18%, 1);
	--color-black-2: hsla(0, 0%, 7%, 0.2);
	--color-black-3: hsla(0, 0%, 23%, 1);
	--color-black-4: hsla(0, 3%, 28%, 1);
	--color-blue-1: hsla(212, 71%, 28%, 1);
	--color-blue-2: hsla(219, 49%, 38%, 0.4);
	--color-blue-3: hsla(227, 65%, 62%, 0.4);
	--color-blue-4: hsla(217, 100%, 73%, 1);
	--color-blue-5: rgb(166, 215, 255);
	--color-green: hsla(151, 100%, 82%, 1);
	--color-violet: hsl(173, 100%, 73%);
	--color-purple-1: hsla(281, 81%, 15%, 1);
	--color-purple-2: hsla(283, 25%, 42%, 1);
	--color-purple-3: rgb(157, 125, 184);
	--color-gray-1: hsla(0, 3%, 87%, 1);
	--color-gray-2: hsla(0, 3%, 99%, 1);
	--color-orange: hsla(22, 100%, 53%, 1);
	--color-darkgray-1: hsla(220, 4%, 53%, 1);
	--color-darkgray-2: hsla(211, 18%, 48%, 1);	
}

.theme {
	--color-white-theme-1: hsla(0, 0%, 100%, 1);
	--color-white-theme-2: rgb(228, 230, 235, 1);
	--color-blue-theme-1: hsla(219, 15%, 39%, 1);
	--color-blue-theme-2: hsla(213, 20%, 54%, 1);
	--color-blue-theme-3: hsla(214, 25%, 41%, 1);
	--color-blue-theme-4: hsla(215, 72%, 49%, 1);
	--color-green-theme-1: hsla(182, 76%, 36%, 1);
	--color-green-theme-2: hsla(173, 60%, 52%, 1);
	--color-gray-theme-1: hsla(217, 24%, 37%, 1);
	--color-gray-theme-2: hsl(202, 11%, 86%);
	--color-gray-theme-3: hsla(206, 13%, 89%, 0.4);
	--color-gray-theme-4: hsla(222, 23%, 91%, 0.4);
}

@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon/icomoon.eot');
	src:  url('fonts/icomoon/icomoon.eot') format('embedded-opentype'),
		  url('fonts/icomoon/icomoon.ttf') format('truetype'),
		  url('fonts/icomoon/icomoon.woff') format('woff'),
		  url('fonts/icomoon/icomoon.svg') format('svg');
	font-style: normal;
	font-weight: normal;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(-160deg, var(--color-blue-1) 30%, var(--color-purple-1) 70%); 
	background-attachment: fixed;
	color: var(--color-black-1); 
	font: 16px/1.5 'icommon', Heebo, sans-serif; 
	font-weight: 100;
	height: 100vh;
}

body.theme {
	background: linear-gradient(-160deg, var(--color-white-theme-2) 30%, var(--color-white-theme-1) 70%); 
	background-attachment: fixed;
}

a:active, 
a:link, 
a:visited { 
	color: var(--color-gray-1); 
	font-weight: 600; 
}

.theme a:active, 
.theme a:link, 
.theme a:visited { 
	color: var(--color-blue-theme-2); 
	font-weight: 600; 
}

h1, 
h2 { 
	line-height: 1.2; 
	margin: 0 0 .5em; 
}

h1 { 
	font-size: 36px; 
}

h2 { 
	font-size: 21px; 
	margin-bottom: 1em; 
}

[class^="icon-"], [class*=" icon-"] { 
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	font-style: normal; 
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	margin-right: 5px; 
	text-transform: none; 
	/* Better Font Rendering =========== */ 
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale; 
}

.icon-books:before { 
	content: "\e920"; 
}

.icon-embed:before { 
	content: "\ea7f"; 
}
.icon-users:before { 
	content: "\e972"; 
}

.icon-books:before, 
.icon-embed:before, 
.icon-users:before { 
	color: var(--color-black-3); 
	font-size: 3em; 
	font-weight: 500; 
	padding: 3px; 
	position: absolute; 
}

/*
 * DESIGN: MOBILE FIRST
 */
.container {
	width: 1300px;
}

header {
	background: transparent;
	display: flex;
	min-height: 30px;
	justify-content: center;
	margin-left: 0;
	margin-right: 0;
	padding: 0 20px;
}

header .brand {
	display: flex;
	padding: 20px 0 20px;
	width: 250px;
}

header h1 {
	color: var(--color-gray-1);
	font-size: 1.5em;
	letter-spacing: 0.8px;
	margin-left: 10px;
	margin-top: 10px;
	text-align: justify;
}

.theme header h1 {
	color: var(--color-gray-theme-1);
}

header .theme {
	background: var(--color-orange);
	border: none;
	border-radius: 1000px;
	box-shadow: 0 0 1px 2px rgba(var(--color-black-3) 0.2);
	cursor: pointer;
	display: flex;
	height: 30px;
	left: 15px;
	outline: none;
	position: relative;
	top: 8px;
	width: 60px;
}

header .theme::after {
	background: var(--color-white);
	border-radius: 100px;
	box-shadow: 0 0 2px 2px hsla(204, 52%, 19%, 0.2);
	content: '';
	display: block;
	height: 30px;
	left: 0;
	position: absolute;
	right: unset;
	transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
	top: 0;
	width: 30px;
}

header .theme.active {
	background: var(--color-black-3);
	color: var(--color-white);
}

header .theme.active::after {
	right: 0;
	left: unset;
}

header .theme span {
	background: none;
	color: var(--color-white);
	display: block;
	height: 30px;
	line-height: 30px;
	width: 30px;
}

.content {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 0 20px;
}

.status {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.status h2 {
	color: var(--color-gray-2);
	font-size: 1.6em;
	font-weight: 600;
	letter-spacing: 0.8px;
	margin: 0 auto;
	margin-top: 60px;
	padding-bottom: 10px;
}

.status h2 span {
	display: block;
	font-size: 1.8em;
	line-height: .8;
}

.status code { 
	background: var(--color-purple-2);
	border-radius: 30px;
	box-shadow: inset -1px -1px 5px hsla(0, 13%, 19%, 0.1),
				inset -1px -1px 6px hsla(21, 17%, 16%, 0.5);
	display: flex;
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	margin: 0 auto;
	margin-top: 10px;
	padding-right: 10px;
	word-wrap: break-all;
}

.theme .status code { 
	background: var(--color-blue-theme-1);
	box-shadow: inset -1px -1px 5px hsla(204, 66%, 39%, 0.1),
				inset -1px -1px 6px hsla(199, 51%, 33%, 0.5);
}

.status code .check { 
	align-items: center;
	background: var(--color-purple-3);
	border-radius: 15px;
	box-shadow: inset -1px -1px 5px hsla(0, 13%, 19%, 0.1),
				inset 1px -1px 2px hsla(0, 13%, 19%, 0.1);
	display: flex;
	height: 20px;
	margin: 8px 10px;
	width: 30px; 
}

.theme code .check {
	background: var(--color-blue-theme-2);
	box-shadow: inset -1px -1px 5px hsla(207, 73%, 26%, 0.1),
				inset 1px -1px 2px hsla(204, 79%, 34%, 0.1);	
}

.status code .check svg { 
	fill: var(--color-gray-1);
	height: 20px;
	width: 30px; 
}

.theme .status code .check svg {
	fill: var(--color-white-theme-1);
}

.status code span {
	color: var(--color-gray-1);
	font-weight: 600;
	line-height: -1.5px;
	padding: 6px 0;
	text-align: center;
	word-break: break-all;
}

.theme .status code span {
	color: var(--color-white-theme-1);
}

.status .status-message { 
	color: var(--color-darkgray-2);
	font-size: .8rem;
	font-weight: 700;
	letter-spacing: .8px;
	margin: 10px auto;
}

.theme .status .status-message {
	color: var(--color-gray-theme-2);
}

.resources {
	background: transparent;
	display: grid;
    grid-template-columns: repeat(auto-fit, auto);
    grid-auto-rows: auto;
    grid-gap: 2rem;
    justify-content: center;
	margin: 80px 5px 0 5px;
	padding-top: 1px;
	position: relative;
}

.resources .learn,
.resources .discuss,
.resources .contribute {
	background: linear-gradient(
		90deg,
		var(--color-blue-2),
		var(--color-blue-3)
	);
	backdrop-filter: blur(10px) brightness(130%);
	-webkit-backdrop-filter: blur(10px) brightness(130%);
	box-shadow: 0 0 1px 1px var(--color-blue-3);
	border-radius: 10px;
	padding-bottom: 10px;
	position: relative;
}

.theme .resources .learn,
.theme .resources .discuss,
.theme .resources .contribute {
	background: linear-gradient(
		90deg,
		var(--color-gray-theme-3),
		var(--color-gray-theme-4)
	);
	backdrop-filter: blur(10px) brightness(130%);
	-webkit-backdrop-filter: blur(10px) brightness(130%);
	box-shadow: 0 0 1px 1px var(--color-gray-theme-2);
	border-radius: 10px;
}

.resources .learn .icon-books:before,
.resources .discuss .icon-embed:before,
.resources .contribute .icon-users:before {
	background: linear-gradient(
					227deg, 
					var(--color-violet) 10%, 
					var(--color-blue-4) 90%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	font-size: 1.4em;
	left: 34px; 
	position: absolute;
	top: 22px;
}

.theme .resources .learn .icon-books:before,
.theme .resources .discuss .icon-embed:before,
.theme .resources .contribute .icon-users:before {
	background: linear-gradient(
					227deg, 
					var(--color-green-theme-2) 10%, 
					var(--color-blue-theme-4) 90%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

.resources .learn h3,
.resources .discuss h3,
.resources .contribute h3 {
	background: linear-gradient(
		90deg,
		var(--color-blue-2),
		var(--color-blue-3)
	);
	border-radius: 10px;
	box-shadow: inset 0 -2px 5px hsla(200, 46%, 20%, 0.1),
				inset 0 0 5px hsla(212, 57%, 27%, 0.1),
				inset 0 -2px 5px hsla(207, 31%, 33%, 0.1),
				inset 0 0px 5px hsla(214, 51%, 20%, 0.1);
	color: var(--color-gray-2);
	font-size: 0.9em;
	letter-spacing: .8px;
	margin-left: 25px;
	margin-top: 15px;
	padding: 10px;
	padding-left: 35px;
	z-index: 100;
}

.theme .resources .learn h3,
.theme .resources .discuss h3,
.theme .resources .contribute h3 {
	background: transparent;
	border-radius: 10px;
	box-shadow: inset 0 -2px 5px hsla(200, 6%, 50%, 0.1),
				inset 0 0 5px hsla(212, 9%, 37%, 0.1),
				inset 0 -2px 5px hsla(204, 4%, 44%, 0.1),
				inset 0 0px 5px hsla(216, 4%, 56%, 0.1);
	color: var(--color-blue-theme-2);
}

.resources .learn h3 {
	width: 90px;
}

.resources .discuss h3 {
	width: 110px;
}

.resources .contribute h3 {
	width: 130px;
}

.resources .learn p,
.resources .discuss p,
.resources .contribute p {
	color: var(--color-gray-1);
	font-size: 0.9em;
	font-weight: 500;
	margin-left: 25px;
	margin-right: 15px;
	margin-top: 20px;
	letter-spacing: .4px;
}

.theme .resources .learn p,
.theme .resources .discuss p,
.theme .resources .contribute p {
	color: var(--color-blue-theme-2);
}

.container .footer {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 25px;
}

.container .footer p {
	color: var(--color-darkgray-1);
	font-size: 0.9em;
	font-weight: 600;
}

.theme .container .footer p {
	color: var(--color-gray-theme-2);
}

/*
 * TEXT EFECTS
 */
.text-gradient {
	background: linear-gradient( 
		150deg,
		var(--color-green),
		var(--color-blue-4) 60%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	text-shadow: 0 0 10px var(--color-black-2);
}

.theme .text-gradient {
	background: linear-gradient( 
		150deg,
		var(--color-green-theme-1),
		var(--color-blue-theme-3) 60%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

/*
 * USE: TABLET
 */
@media (min-width: 768px)
{
	.status {
		justify-content: flex-start;
		text-align: justify;
	}

	.status h2 {
		font-size: 2.4em;
		margin-left: 0;
		margin-top: 100px;
	}

	.status h2 span {
		font-size: 1.9em;
		line-height: 60px;
		margin-left: -5px;
	}

	.status code {
		font-size: 0.7em;
		margin-left: 0;
		padding-right: 15px;
	}

	.status code .check,
	.status code .check svg { 
		height: 20px;
		width: 34px; 
	}

	.status code span {
		font-size: 1.3em;
		line-height: 1.6;
	}

	.status .status-message {
		margin: 10px 0;
		font-size: .8em;
	}

	.resources {
		margin-left: 0;
		margin-right: 0;
		padding-bottom: 20px;
		overflow: hidden;
	}

	.resources .learn .icon-books:before,
	.resources .discuss .icon-embed:before,
	.resources .contribute .icon-users:before {
		margin-top: -1px;
	}

	.resources .learn h3,
	.resources .discuss h3,
	.resources .contribute h3 {
		font-size: 1.1em;
		padding: 8px;
		padding-left: 40px;
	}

	.resources .learn h3 {
		width: 105px;
	}
	
	.resources .discuss h3 {
		width: 125px;
	}
	
	.resources .contribute h3 {
		width: 150px;
	}

	.resources .learn p,
	.resources .discuss p,
	.resources .contribute p {
		font-size: 1em;
	}

	.container .footer {
		justify-content: flex-end;
		margin-top: 5px;
	}
}

/*
 * USE: DESKTOP
 */
@media (min-width: 1024px)
{
	.container {
		width: 1400px;
	}

	.status h2 {
		font-size: 4.2em;
		margin-top: 160px;
	}

	.status h2 span {
		font-size: 2.2em;
		line-height: 90px;
	}

	.status code {
		margin-top: 70px;
		padding-top: 5px;
	}

	.status code .check { 
		margin-top: 2px;
	}

	.status code span {
		font-size: 1.6em;
		line-height: .7;
	}

	.status .status-message {
		font-size: 1.2em;
	}

	.resources {
		grid-template-columns: repeat(auto-fit, 434px);
		grid-auto-rows: 200px;
		grid-gap: 3rem;
		top: 30px;
	}

	.container .footer {
		margin-top: 40px;
	}
}