/*
 * CONFIGURATION
 */

:root {
	--color-black: hsla(0, 0%, 7%, 0.8);
	--color-black-1: hsla(205, 26%, 22%, 0.719);
	--color-white: hsla(0, 0%, 100%, 1);
	--color-white-1: hsla(0, 0%, 100%, 1);
	--color-white-2: hsla(223, 15%, 91%, 1);
	--color-white-3: hsla(200, 23%, 95%, 1);
	--color-blue-1: hsla(219, 15%, 39%, 1);
	--color-blue-2: hsla(205, 87%, 65%, 1);
	--color-blue-3: rgb(113, 132, 149);
	--color-blue-4: rgb(53, 84, 128);
	--color-green-1: rgb(59, 159, 172);
	--color-green-2: rgb(126, 146, 141);
	--color-gray-1: hsla(202, 31%, 38%, 0.733);
	--color-gray-2: hsla(240, 0%, 60%, 1);
	--color-gray-3: hsla(206, 13%, 89%, 1);
	--color-gray-4: hsla(0, 0%, 77%, 0.918);
	--color-purple: hsla(272, 32%, 25%, 1);
}

.dark-theme {
	--color-white-theme: hsla(0, 0%, 100%, 1);
	--color-black-theme-1: hsla(240, 9%, 18%, 1);
	--color-black-theme-2: hsla(0, 0%, 7%, 0.2);
	--color-black-theme-3: hsla(0, 0%, 21%, 0.7);
	--color-black-theme-4: hsla(0, 3%, 28%, 1);
	--color-blue-theme-1: rgb(32, 64, 100);
	--color-blue-theme-2: hsla(219, 49%, 38%, 0.4);
	--color-blue-theme-3: hsla(221, 65%, 62%, 0.4);
	--color-blue-theme-4: hsl(209, 100%, 70%);
	--color-blue-theme-5: hsla(208, 31%, 66%, 1);
	--color-green-theme: hsla(155, 85%, 57%, 0.87);
	--color-violet-theme: hsla(173, 100%, 73%, 1);
	--color-purple-theme-1: rgb(46, 25, 58);
	--color-purple-theme-2: hsla(283, 25%, 42%, 1);
	--color-purple-theme-3: hsla(273, 29%, 61%, 1);
	--color-gray-theme-1: hsla(217, 8%, 81%, 1);
	--color-gray-theme-2: hsla(225, 4%, 78%, 1);
	--color-orange-theme: rgb(255, 115, 0);
	--color-darkgray-theme-1: hsla(216, 7%, 59%, 0.4);
	--color-darkgray-theme-2: hsla(211, 18%, 48%, 1);	
}

@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon/icomoon.eot');
	src:  url('fonts/icomoon/icomoon.eot') format('embedded-opentype'),
		  url('fonts/icomoon/icomoon.ttf') format('truetype'),
		  url('fonts/icomoon/icomoon.woff') format('woff'),
		  url('fonts/icomoon/icomoon.svg') format('svg');
	font-style: normal;
	font-weight: normal;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(-160deg, var(--color-white-1) 30%, var(--color-white) 70%); 
	background-attachment: fixed;
	color: var(--color-black-1); 
	font: 16px/1.5 'icommon', Heebo, sans-serif; 
	font-weight: 100;
	height: 100vh;
}

body.dark-theme {
	background: linear-gradient(-160deg, var(--color-blue-theme-1) 20%, var(--color-purple-theme-1) 80%); 
	background-attachment: fixed;
}

a:active, 
a:link, 
a:visited { 
	color: var(--color-blue-2); 
	font-weight: 600; 
}

.dark-theme a:active, 
.dark-theme a:link, 
.dark-theme a:visited { 
	color: var(--color-gray-theme-1); 
	font-weight: 600; 
}

h1, 
h2 { 
	line-height: 1.2; 
	margin: 0 0 .5em; 
}

h1 { 
	font-size: 36px; 
}

h2 { 
	font-size: 21px; 
	margin-bottom: 1em; 
}

[class^="icon-"], [class*=" icon-"] { 
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	font-style: normal; 
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	margin-right: 5px; 
	text-transform: none; 
	/* Better Font Rendering =========== */ 
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale; 
}

.icon-books:before { 
	content: "\e920"; 
}

.icon-embed:before { 
	content: "\ea7f"; 
}
.icon-users:before { 
	content: "\e972"; 
}

.icon-books:before, 
.icon-embed:before, 
.icon-users:before { 
	color: var(--color-black-3); 
	font-size: 3em; 
	font-weight: 500; 
	padding: 3px; 
	position: absolute; 
}

/*
 * DESIGN: MOBILE FIRST
 */
.container {
	width: 1300px;
}

header {
	background: transparent;
	display: flex;
	min-height: 30px;
	justify-content: center;
	margin-left: 0;
	margin-right: 0;
	padding: 0 20px;
}

header .brand {
	display: flex;
	padding: 20px 0 20px;
	width: 250px;
}

header h1 {
	color: var(--color-blue-1);
	font-size: 1.5em;
	letter-spacing: 0.8px;
	margin-left: 10px;
	margin-top: 10px;
	text-align: justify;
}

.dark-theme header h1 {
	color: var(--color-white);
}

.content {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 0 20px;
}

.status {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.status h2 {
	color: var(--color-gray-3);
	font-size: 1.6em;
	font-weight: 600;
	letter-spacing: 0.8px;
	margin: 0 auto;
	margin-top: 60px;
	padding-bottom: 10px;
}

.status h2 span {
	display: block;
	font-size: 1.8em;
	line-height: .8;
}

.status code { 
	background: var(--color-blue-1);
	border-radius: 30px;
	box-shadow: inset -1px -1px 5px hsla(0, 13%, 19%, 0.1),
				inset -1px -1px 6px hsla(21, 17%, 16%, 0.5);
	display: flex;
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	margin: 0 auto;
	margin-top: 10px;
	padding-right: 10px;
	word-wrap: break-all;
}

.dark-theme .status code { 
	background: var(--color-purple-theme-2);
	box-shadow: inset -1px -1px 5px hsla(261, 66%, 39%, 0.1),
				inset -1px -1px 6px hsla(291, 51%, 33%, 0.5);
}

.status code .check { 
	align-items: center;
	background: var(--color-blue-3);
	border-radius: 15px;
	box-shadow: inset -1px -1px 5px hsla(0, 13%, 19%, 0.1),
				inset 1px -1px 2px hsla(0, 13%, 19%, 0.1);
	display: flex;
	height: 20px;
	margin: 8px 10px;
	width: 30px; 
}

.dark-theme code .check {
	background: var(--color-purple-theme-3);
	box-shadow: inset -1px -1px 5px hsla(281, 73%, 26%, 0.1),
				inset 1px -1px 2px hsla(276, 79%, 34%, 0.1);	
}

.status code .check svg { 
	fill: var(--color-white-1);
	height: 20px;
	width: 30px; 
}

.dark-theme .status code .check svg {
	fill: var(--color-white-theme);
}

.status code span {
	color: var(--color-white-1);
	font-weight: 600;
	line-height: -1.5px;
	padding: 6px 0;
	text-align: center;
	word-break: break-all;
}

.dark-theme .status code span {
	color: var(--color-white-theme);
}

.status .status-message { 
	color: var(--color-gray-1);
	font-size: .8rem;
	font-weight: 700;
	letter-spacing: .8px;
	margin: 10px auto;
}

.dark-theme .status .status-message {
	color: var(--color-blue-theme-5);
}

.resources {
	background: transparent;
	display: grid;
    grid-template-columns: repeat(auto-fit, auto);
    grid-auto-rows: auto;
    grid-gap: 2rem;
    justify-content: center;
	margin: 80px 5px 0 5px;
	padding-top: 1px;
	position: relative;
}

.resources .learn,
.resources .discuss,
.resources .contribute {
	background: linear-gradient(
		150deg,
		var(--color-white)10%,
		var(--color-white-1) 70%
	);
	backdrop-filter: blur(10px) brightness(130%);
	-webkit-backdrop-filter: blur(10px) brightness(130%);
	box-shadow: 0 0 1px 1px var(--color-white-2);
	border-radius: 10px;
	padding-bottom: 10px;
	position: relative;
}

.dark-theme .resources .learn,
.dark-theme .resources .discuss,
.dark-theme .resources .contribute {
	background: linear-gradient(
		90deg,
		var(--color-blue-theme-2),
		var(--color-blue-theme-3)
	);
	backdrop-filter: blur(10px) brightness(130%);
	-webkit-backdrop-filter: blur(10px) brightness(130%);
	box-shadow: 0 0 1px var(--color-blue-theme-3);
	border-radius: 10px;
}

.resources .learn .icon-books:before,
.resources .discuss .icon-embed:before,
.resources .contribute .icon-users:before {
	background: linear-gradient(
					100deg, 
					var(--color-blue-2) 40%, 
					var(--color-black-1) 50%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	font-size: 1.5em;
	left: 25px; 
	position: absolute;
	top: 22px;
}

.dark-theme .resources .learn .icon-books:before,
.dark-theme .resources .discuss .icon-embed:before,
.dark-theme .resources .contribute .icon-users:before {
	background: linear-gradient(
					227deg, 
					var(--color-violet-theme) 10%, 
					var(--color-blue-theme-4) 90%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

.resources .learn h3,
.resources .discuss h3,
.resources .contribute h3 {
	color: var(--color-black-2);
	font-size: 1em;
	letter-spacing: .5px;
	margin-left: 20px;
	margin-top: 15px;
	padding: 10px;
	padding-left: 35px;
	z-index: 100;
}

.dark-theme .resources .learn h3,
.dark-theme .resources .discuss h3,
.dark-theme .resources .contribute h3 {
	border-radius: 10px;
	color: var(--color-white-theme);
}

.resources .learn h3 {
	width: 90px;
}

.resources .discuss h3 {
	width: 110px;
}

.resources .contribute h3 {
	width: 130px;
}

.resources .learn p,
.resources .discuss p,
.resources .contribute p {
	color: var(--color-gray-1);
	font-size: 0.9em;
	font-weight: 500;
	margin-left: 25px;
	margin-right: 15px;
	margin-top: 20px;
	letter-spacing: .4px;
}

.dark-theme .resources .learn p,
.dark-theme .resources .discuss p,
.dark-theme .resources .contribute p {
	color: var(--color-gray-theme-1);
}

.container .footer {
	display: grid;
	grid-template-columns: repeat(auto, 1fr);
    grid-gap: 1rem;
	grid-auto-flow: row;
	font-size: 1.1em;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 25px;
}

.container .footer button {
	background: var(--color-purple);
	border: none;
	border-radius: 1000px;
	box-shadow: 0 0 0 1px hsla(205, 14%, 25%, 0.9);
	cursor: pointer;
	display: flex;
	height: 20px;
	margin: 0 auto;
	outline: none;
	position: relative;
	bottom: 0;
	width: 43px;
}

.container .footer button::before {
	color: var(--color-gray-1);
	content: 'Mode';
	font-size: 1em;
	font-weight: 500;
	position: absolute;
	left: -43px;
	top: 2px;
}

.dark-theme .container .footer button::before {
	color: var(--color-darkgray-theme-2);
}

.container .footer button::after {
	background: var(--color-white);
	border-radius: 100px;
	box-shadow: 0 0 1px 2px var(--color-black-1);
	content: '';
	display: block;
	height: 20px;
	left: 0;
	position: absolute;
	right: unset;
	top: 0;
	width: 20px;
}

.container .footer button.active {
	background: var(--color-orange-theme);
	color: var(--color-orange-theme);
}

.container .footer button.active::after {
	box-shadow: 0 0 1px 2px var(--color-gray-theme-1);
	left: unset;
	right: 0;
}

.container .footer button span {
	background: none;
	color: var(--color-white);
	display: block;
	font-size: 0.8em;
	height: 25px;
	line-height: 20px;
	width: 25px;
}

.container .footer p {
	color: var(--color-gray-1);
	font-size: 0.8em;
	font-weight: 500;
}

.dark-theme .container .footer p {
	color: var(--color-darkgray-theme-2);
}

/*
 * TEXT EFECTS
 */
.text-gradient {
	background: linear-gradient( 
		150deg,
		var(--color-green-1),
		var(--color-blue-1) 60%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	text-shadow: inset 0 0 1px var(--color-black-2);
}

.dark-theme .text-gradient {
	background: linear-gradient( 
		150deg,
		var(--color-green-theme),
		var(--color-blue-theme-4) 60%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

/*
 * USE: TABLET
 */
@media (min-width: 768px)
{
	.status {
		justify-content: flex-start;
		text-align: justify;
	}

	.status h2 {
		font-size: 2.4em;
		margin-left: 0;
		margin-top: 100px;
	}

	.status h2 span {
		font-size: 1.9em;
		line-height: 60px;
		margin-left: -5px;
	}

	.status code {
		font-size: 0.7em;
		margin-left: 0;
		padding-right: 15px;
	}

	.status code .check,
	.status code .check svg { 
		height: 20px;
		width: 34px; 
	}

	.status code span {
		font-size: 1.3em;
		line-height: 1.6;
	}

	.status .status-message {
		margin: 10px 0;
		font-size: .8em;
	}

	.resources {
		margin-left: 0;
		margin-right: 0;
		padding-bottom: 20px;
	}

	.resources .learn .icon-books:before,
	.resources .discuss .icon-embed:before,
	.resources .contribute .icon-users:before {
		margin-top: -1px;
	}

	.resources .learn h3,
	.resources .discuss h3,
	.resources .contribute h3 {
		font-size: 1.2em;
		padding: 8px;
		padding-left: 40px;
	}

	.resources .learn h3 {
		width: 105px;
	}
	
	.resources .discuss h3 {
		width: 125px;
	}
	
	.resources .contribute h3 {
		width: 150px;
	}

	.resources .learn p,
	.resources .discuss p,
	.resources .contribute p {
		font-size: 1em;
	}

	.container .footer {
		justify-content: space-between;
		grid-auto-flow: column;
		margin-top: 5px;
	}

	.container .footer button {
		left: 43px;
	}
}

/*
 * USE: DESKTOP
 */
@media (min-width: 1024px)
{
	.container {
		width: 1400px;
	}

	.status h2 {
		font-size: 4.2em;
		margin-top: 160px;
	}

	.status h2 span {
		font-size: 2.2em;
		line-height: 90px;
	}

	.status code {
		margin-top: 70px;
		padding-top: 5px;
	}

	.status code .check { 
		margin-top: 2px;
	}

	.status code span {
		font-size: 1.6em;
		line-height: .7;
	}

	.status .status-message {
		font-size: 1.2em;
	}

	.resources {
		grid-template-columns: repeat(auto-fit, 434px);
		grid-auto-rows: 200px;
		grid-gap: 3rem;
		top: 30px;
	}

	.container .footer {
		margin-top: 40px;
	}
}