/*
 * CONFIGURATION
 */

:root {
	--color-black-1: hsla(0, 0%, 7%, 1);
	--color-black-2: hsla(0, 2%, 9%, 1);
	--color-black-3: hsla(0, 5%, 14%, 1);
	--color-black-4: hsla(0, 8%, 19%, 1);
	--color-black-5: hsla(0, 10%, 21%, 1);
	--color-black-6: hsla(0, 12%, 26%, 1);
	--color-white-1: hsla(0, 0%, 100%, 1);
	--color-white-2: hsla(0, 12%, 88%, 1);
	--color-white-3: hsla(0, 15%, 91%, 1);
	--color-white-4: hsla(0, 23%, 85%, 1);
	--color-white-5: hsla(1, 29%, 83%, 1);
	--color-blue-1: hsla(219, 15%, 39%, 1);
	--color-blue-2: hsla(219, 27%, 38%, 1);
	--color-blue-3: hsla(205, 75%, 51%, 1);
	--color-blue-4: hsla(207, 86%, 67%, 1);
	--color-blue-5: hsla(215, 28%, 68%, 1);
	--color-green-1: hsla(151, 50%, 44%, 1);
	--color-green-2: hsla(142, 35%, 49%, 1);
	--color-green-3: hsla(137, 35%, 49%, 1);
	--color-gray-1: hsla(201, 14%, 29%, 1);
	--color-gray-2: hsla(204, 16%, 32%, 1);	
	--color-gray-3: hsla(209, 18%, 38%, 1);
	--color-gray-4: hsla(214, 12%, 37%, 1);
	--color-gray-5: hsla(217, 22%, 67%, 1);
	--color-gray-6: hsla(218, 28%, 70%, 1);
	--color-orange: hsla(26, 78%, 51%, 0.9);
	--color-purple: hsla(272, 32%, 25%, 0.5);
}

.dark-theme {
	--color-white-theme: hsla(0, 0%, 100%, 1);
	--color-black-theme-1: hsla(216, 92%, 6%, 1);
	--color-black-theme-2: hsla(217, 94%, 6%, 1);
	--color-black-theme-3: hsla(218, 96%, 6%, 1);
	--color-black-theme-4: hsla(219, 98%, 6%, 1);
	--color-black-theme-5: hsla(221, 39%, 11%, 1);
	--color-black-theme-6: hsla(222, 40%, 11%, 1);
	--color-black-theme-7: hsla(223, 41%, 11%, 1);
	--color-blue-theme-1: hsla(215, 28%, 17%, 1);
	--color-blue-theme-2: hsla(214, 45%, 24%, 1);
	--color-blue-theme-3: hsla(215, 46%, 24%, 1);
	--color-blue-theme-4: hsla(216, 47%, 24%, 1);
	--color-blue-theme-5: hsla(228, 38%, 28%, 1);
	--color-blue-theme-6: hsla(216, 63%, 42%, 1);
	--color-blue-theme-7: hsla(217, 75%, 51%, 1);
	--color-yellow-theme: hsla(63, 88%, 68%, 0.763);
	--color-green-theme-1: hsla(165, 86%, 49%, 1);
	--color-green-theme-2: hsla(165, 83%, 43%, 1);
	--color-green-theme-3: hsla(165, 85%, 57%, 1);
	--color-violet-theme: hsla(173, 100%, 73%, 1);
	--color-purple-theme-1: hsla(264, 40%, 16%, 1);
	--color-purple-theme-2: hsla(278, 40%, 16%, 1);
	--color-purple-theme-3: hsla(280, 42%, 16%, 1);
	--color-purple-theme-4: hsla(282, 44%, 16%, 1);
	--color-gray-theme-1: hsla(217, 8%, 81%, 1);
	--color-gray-theme-2: hsla(225, 4%, 78%, 1);
	--color-gray-theme-3: hsla(233, 2%, 75%, 1);
	--color-gray-theme-4: hsla(240, 0%, 72%, 1);
	--color-orange-theme-1: hsla(19, 98%, 46%, 1);
	--color-orange-theme-2: hsla(27, 100%, 50%, 1);
	--color-darkgray-theme-1: hsla(216, 7%, 59%, 0.4);
	--color-darkgray-theme-2: hsla(211, 18%, 48%, 1);	
	--color-darkgray-theme-3: hsla(212, 17%, 56%, 1);
}

@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon/icomoon.eot');
	src:  url('fonts/icomoon/icomoon.eot') format('embedded-opentype'),
		  url('fonts/icomoon/icomoon.ttf') format('truetype'),
		  url('fonts/icomoon/icomoon.woff') format('woff'),
		  url('fonts/icomoon/icomoon.svg') format('svg');
	font-style: normal;
	font-weight: normal;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(-160deg, var(--color-white-1) 30%, var(--color-white) 70%); 
	background-attachment: fixed;
	color: var(--color-black); 
	font: 16px/1.5 'icommon', Heebo, sans-serif; 
	font-weight: 100;
	height: 100vh;
}

body.dark-theme {
	background: linear-gradient(20deg, var(--color-black-theme-5) 30%, var(--color-black-theme-7) 70%); 
	background-attachment: fixed;
}

a:active, 
a:link, 
a:visited { 
	color: var(--color-blue-1); 
	font-weight: 600; 
}

.dark-theme a:active, 
.dark-theme a:link, 
.dark-theme a:visited { 
	color: var(--color-white-theme); 
	font-weight: 600; 
}

h1, 
h2 { 
	line-height: 1.2; 
	margin: 0 0 .5em; 
}

h1 { 
	font-size: 36px; 
}

h2 { 
	font-size: 21px; 
	margin-bottom: 1em; 
}

[class^="icon-"], [class*=" icon-"] { 
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	font-style: normal; 
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	margin-right: 3px;
	text-transform: none; 
	/* Better Font Rendering =========== */ 
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale; 
}

.icon-books:before { 
	content: "\e920"; 
}

.icon-embed:before { 
	content: "\ea7f"; 
}
.icon-users:before { 
	content: "\e972"; 
}

.icon-books:before, 
.icon-embed:before, 
.icon-users:before { 
	color: var(--color-black-3); 
	font-size: 3em; 
	font-weight: 500; 
	padding: 3px; 
	position: absolute; 
}

/* Modify table of errors in PHP */
table {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
	font-weight: 500;
	width: 100%;
}

table,
tbody,
tbody,
th,
tr, 
td {
	border: none;
}

table span {
	padding-bottom: 3px;
}

tbody th{
	padding-top: 3px;
}

tbody tr:nth-child(1) th {
	line-height: 1.4em;
	padding-bottom: 2px;
}

tbody tr:nth-child(2) th {
	padding: 3px;
}

tbody tr:nth-child(3) th {
	text-align: left;
	padding: 3px;
}

tbody tr:nth-child(3) th:nth-child(1) {
	text-align: center;
	width: 30px;
}

tbody tr:nth-child(1n) td:nth-child(1) {
	text-align: center;
}

tbody tr:nth-child(3) th:nth-child(2) {
	text-align: right;
	width: 100px;
}

tbody tr:nth-child(3) th:nth-child(3) {
	text-align: right;
	width: 200px;
}

tbody tr:nth-child(1n) td {
	text-align: right;
	padding: 2px;
}

tbody tr:nth-child(1n) td:nth-child(4),
tbody tr:nth-child(1n) td:nth-child(5) {
	text-align: left;
}

/*
 * DESIGN: MOBILE FIRST
 */
.container {
	width: 1300px;
}

header {
	align-items: center;
	background: transparent;
	box-shadow: 1px 0 1px var(--color-white-1);
	display: flex;
	justify-content: center;
	min-height: 30px;
	margin-left: 0;
	margin-right: 0;
	padding: 0 20px;
	width: 100%;
}

.dark-theme header {
	box-shadow: 1px 0 1px var(--color-black-theme-6);
}

header .container {
	display: flex;
	justify-content: space-between;
}

header .container .brand,
header .container .menu {
	padding: 10px 0 4px 0;
}

header .container .brand {
	align-items: center;
	display: flex;
	position: relative;
	top: -3px;
	width: 250px;
}

header .container .menu {
	color: var(--color-white-1);
	position: relative;
	top: 10px;
}

header .container .menu a {
	background: transparent;
	color: var(--color-gray-3);
	font-size: 0.9rem;
	font-weight: 600;
	letter-spacing: 0.9px; 
	margin-right: 0;
	padding: 10px;
	text-decoration: none;
}

.dark-theme header .container .menu a {
	background: transparent;
	color: var(--color-darkgray-theme-2);
}

header .container .menu a:hover {
	background: var(--color-white);
	color: var(--color-gray-4);
	clip-path: polygon(50% 50% at 50% 50%);
}

.dark-theme header .container .menu a:hover {
	background: transparent;
	color: var(--color-darkgray-theme-3);
}

header .container h1 {
	color: var(--color-blue-1);
	font-size: 1.4em;
	font-weight: 600;
	letter-spacing: 0.5px;
	margin-left: 10px;
	margin-top: 14px;
	text-align: justify;
}

.dark-theme header h1 {
	color: var(--color-gray-theme-2);
}

.content {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 0 20px;
}

.content .status {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.content .status h2 {
	font-size: 1.6em;
	font-weight: 600;
	letter-spacing: 0.5px;
	margin: 0 auto;
	margin-top: 70px;
	padding-bottom: 10px;
}

.content .status h2 span {
	display: block;
	font-size: 1.8em;
	line-height: .8;
}

.content .status code { 
	background: var(--color-gray-1);
	border-radius: 30px;
	box-shadow: inset -1px -1px 5px hsla(199, 20%, 28%, 0.1),
				inset -1px -1px 6px hsla(199, 21%, 33%, 0.5);
	display: flex;
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	margin: 0 auto;
	margin-top: 10px;
	padding-right: 10px;
	word-wrap: break-all;
}

.dark-theme .content .status code { 
	background: var(--color-green-theme-2);
	box-shadow: inset -1px -1px 5px hsla(153, 66%, 39%, 0.7),
				inset -1px -1px 6px hsla(161, 51%, 33%, 0.7);
}

.content .status code .check { 
	align-items: center;
	background: var(--color-blue-3);
	border-radius: 15px;
	box-shadow: inset -1px -1px 1px hsla(216, 47%, 40%, 0.7),
				inset 1px 1px 2px hsla(201, 58%, 38%, 0.7);
	display: flex;
	height: 20px;
	margin: 8px 10px;
	width: 30px; 
}

.dark-theme .content code .check {
	background: var(--color-green-theme-3);
	box-shadow: -1px 1px 2px hsla(166, 74%, 31%, 0.7),
				1px 1px 2px hsla(171, 69%, 37%, 0.7);	
}

.content .status code .check svg { 
	fill: var(--color-white-1);
	height: 20px;
	width: 30px; 
}

.dark-theme .content .status code .check svg {
	fill: var(--color-white-theme);
}

.content .status code span {
	color: var(--color-white-1);
	font-weight: 600;
	line-height: -1.5px;
	padding: 6px 0;
	text-align: center;
	word-break: break-all;
}

.dark-theme .content .status code span {
	color: var(--color-white-theme);
}

.content .status .status-message { 
	color: var(--color-gray-5);
	font-size: .8rem;
	font-weight: 700;
	letter-spacing: .5px;
	margin: 10px auto;
}

.dark-theme .content .status .status-message {
	color: var(--color-darkgray-theme-1);
}

.resources {
	background: transparent;
	display: grid;
    grid-template-columns: repeat(auto-fit, auto);
    grid-auto-rows: auto;
    grid-gap: 2rem;
	justify-content: center;
	margin: 70px 5px 0 5px;
	padding-top: 1px;
	position: relative;
}

.resources .learn,
.resources .discuss,
.resources .contribute {
	background: linear-gradient(
		150deg,
		var(--color-white-1),
		var(--color-white-1) 20%
	);
	backdrop-filter: blur(10px) brightness(120%);
	-webkit-backdrop-filter: blur(10px) brightness(120%);
	box-shadow: 0 0 0 1px var(--color-white-2);
	border-radius: 10px;
	position: relative;
}

.dark-theme .resources .learn,
.dark-theme .resources .discuss,
.dark-theme .resources .contribute {
	background: var(--color-blue-theme-1);
	box-shadow: 0 0 0 1px var(--color-black-theme-6);
}

.resources .learn h3,
.resources .discuss h3,
.resources .contribute h3 {
	background: transparent !important;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: var(--color-blue-2);
	font-size: 1em;
	letter-spacing: .5px;
	padding: 10px;
	padding-left: 50px;
	width: 100%;
	z-index: 100;
}

.dark-theme .resources .learn h3,
.dark-theme .resources .discuss h3,
.dark-theme .resources .contribute h3 {
	background: var(--color-black-theme-1);
	color: var(--color-white-theme);
}

.resources .learn h3 .icon-books:before,
.resources .discuss h3 .icon-embed:before,
.resources .contribute h3 .icon-users:before {
	background: var(--color-blue-3);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	font-size: 1.5em;
	left: 15px; 
	position: absolute;
	top: 7px;
}

.dark-theme .resources .learn h3 .icon-books:before,
.dark-theme .resources .discuss h3 .icon-embed:before,
.dark-theme .resources .contribute h3 .icon-users:before {
	background: var(--color-gray-theme-4);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

.resources .learn h3 a:active,
.resources .learn h3 a:link,
.resources .learn h3 a:visited {
	color: var(--color-blue-2);
	font-size: 1.015em;
	font-weight: 600;
}

.dark-theme .resources .learn h3 a:active,
.dark-theme .resources .learn h3 a:link,
.dark-theme .resources .learn h3 a:visited {
	color: var(--color-white-theme);
}

.resources .learn p,
.resources .discuss p,
.resources .contribute p {
	color: var(--color-gray-1);
	font-size: 0.9em;
	font-weight: 500;
	letter-spacing: .2px;
    margin: 15px;
}

.dark-theme .resources .learn p,
.dark-theme .resources .discuss p,
.dark-theme .resources .contribute p {
	color: var(--color-darkgray-theme-3);
}

.resources p a:active, 
.resources p a:link, 
.resources p a:visited { 
	color: var(--color-darkgray-theme-3);
	font-weight: 500; 
}

.dark-theme .resources p a:active, 
.dark-theme .resources p a:link, 
.dark-theme .resources p a:visited { 
	color: var(--color-darkgray-theme-3); 
}

.container .footer {
	display: grid;
	grid-template-columns: repeat(auto, 1fr);
    grid-gap: 1rem;
	grid-auto-flow: row;
	font-size: 1.1em;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 25px;
}

.container .footer .btnTheme {
	background: var(--color-white-1);
	color: var(--color-black);
	border-radius: 160px;
	box-shadow: 0 0 0 1px var(--color-white-1),
				inset 0 1px 2px var(--color-gray-6),
				inset 0 -1px 2px var(--color-gray-6);
	cursor: pointer;			
	height: 20px;
	margin: 0 auto;
	position: relative;
	transition: 0.5s;
	width: 40px;
}

.dark-theme .container .footer .btnTheme.active {
	background: var(--color-black-theme-7);
	box-shadow: inset 0 0 1px var(--color-black-theme-1),
				inset 0 1px 2px var(--color-black-theme-1),
				inset 0 -1px 2px var(--color-black-theme-1);
}

.container .footer .btnTheme .indicator {
	background: var(--color-white-1);
	border-radius: 50%;
	box-shadow: inset 1px 0 1px var(--color-gray-6),
	            inset -1px 0 1px var(--color-gray-6),
				inset 0 -1px 1px var(--color-gray-6);
	height: 20px;
	left: 0;
	position: absolute;
	transform: scale(0.75);
	top: 0;
	transition: 0.5s;
	width: 20px;
	z-index: 100;
}

.dark-theme .container .footer .btnTheme.active .indicator {
	background: var(--color-darkgray-theme-1);
	box-shadow: inset 1px 0 1px var(--color-darkgray-theme-1),
	            inset -1px 0 1px var(--color-darkgray-theme-1)
				inset 0 1px 1px var(--color-darkgray-theme-1);
	left: 20px;
	transform: scale(0.75);
}

.container .footer .btnTheme .fas {
	display: inline;
	font-size: 0.72em;
	left: 5px;
	position: relative;
	top: -4px;
}

.container .footer .btnTheme .fa-sun {
	opacity: 0;
}

.container .footer .btnTheme .fa-moon {
	color: var(--color-black-4);
	opacity: 1;
}

.dark-theme .container .footer .btnTheme.active .fa-sun {
	color: var(--color-yellow-theme);
	opacity: 1;
}

.dark-theme .container .footer .btnTheme.active .fa-moon {
	opacity: 0;
}

.container .footer p {
	color: var(--color-gray-5);
	font-size: 0.8em;
	font-weight: 500;
}

.dark-theme .container .footer p {
	color: var(--color-darkgray-theme-1);
}

/*
 * TEXT EFECTS
 */
.text-gradient {
	background: linear-gradient( 
		150deg,
		var(--color-blue-2),
		var(--color-gray-1) 60%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	text-shadow: inset 0 0 1px var(--color-black-2);
}

.dark-theme .text-gradient {
	background: linear-gradient( 
		150deg,
		var(--color-gray-theme-1) 20%,
		var(--color-white-theme) 60%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

/* Form */

.form-group-container {
	--card-value-x: 1rem;
	--card-value-y: 0;
	align-content: center;
	display: grid;
	justify-content: center;
	height: 100vh;
	position: relative;
	width: 100vw;
}

.form-group-card {
	--card-spacer-y: 1rem;
	--card-spacer-x: 1rem;
	--card-bg: var(--color-white-1);
	--card-border-color: var(--color-gray-4);
	--card-border-radius: 0.375rem;
	--card-border-width: 1.5px;
	--card-cap-color: var(--color-purple);
	--card-cap-padding-y: 1rem;
	--card-cap-padding-x: 1.7rem;
	--card-cap-bg: hsla(0, 0%, 0%, 0.03);
	--card-title-size: 1.2rem;
	background: var(--card-bg);
	background-clip: border-box;
	box-shadow: 0 0 7px -1px var(--card-border-color);
	border-radius: 0;
	position: absolute;
	width: 100%;
}

.form-group-card-header {
	background: var(--card-cap-bg);
	border-bottom: var(--card-border-width) solid var(--card-cap-bg);
	color: var(--card-cap-color);
	font-size: var(--card-title-size);
	font-weight: 400;
	margin-bottom: 0;
	padding: var(--card-cap-padding-y) var(--card-cap-padding-x);
	text-align: center;
}

.form-group-card-header svg {
	margin-bottom: -10px;
}

.form-group-card-body {
	padding: var(--card-spacer-y) var(--card-spacer-x);
	color: var(--card-cap-color);
}

.form-message {
	--gutter-x: 1.5rem;
	--gutter-y: 0.5rem;
	margin-bottom: var(--card-spacer-x);
	margin-left: calc(0.5 * var(--gutter-x));
	margin-right: calc(0.5 * var(--gutter-x));
	margin-top: calc(0.1 * var(--gutter-y));
}

.form-message .message { 
	color: var(--color-gray-4);
	font-size: 0.85rem;
	font-weight: 400;
	letter-spacing: 0.1px;
}

.group-label-input {
	--gutter-x: 1.5rem;
	--gutter-y: 1rem;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: var(--card-spacer-x);
	margin-left: calc(0.5 * var(--gutter-x));
	margin-right: calc(0.5 * var(--gutter-x));
	margin-top: calc(-0.5 * var(--gutter-y));
}

.group-label-input:last-child {
	justify-content: flex-end;
}

label {
	color: var(--color-gray-1);
	display: inline-block;
	font-weight: 400;
	text-align: left;
}

.form-label {
	padding-top: calc(0.375rem + 1px);
	padding-bottom: calc(0.375rem + 1px);
	margin-bottom: 0;
	font-size: 0.875rem;
	line-height: 1.6;
	width: 120px;
}

input {
	display: block;
}

input:focus,
input[type=submit]:focus {
	outline: none;
	border: 0.5px solid var(--color-blue-3);
	box-shadow: 0 0 0 1px var(--color-blue-3);
}

.form-input {
	--gutter-x : hsla(216, 12%, 84%, 1);
	appearance: none;
	border-radius: 0.375rem;
	border: 1px solid var(--color-gray-6);
	color: var(--color-black-5);
	font-size: 0.955rem;
	font-weight: 300;
	line-height: 1.6;
	letter-spacing: 0.475px;
	padding: 0.467rem 0.945rem;
	width: 100%;
}

.group-submit {
	margin-bottom: calc(-0.7 * var(--card-value-x));
	margin-top: calc(1 * var(--card-value-x));
}

.group-submit a {
	color: var(--color-gray-2);
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: 0.275px;
	margin-right: 10px;
}

.group-submit a:hover {
	color: var(--color-black-1);
}

.label {
	align-items: center;
	display: inline-flex;	
	margin-top: calc(1 * var(--card-spacer-y));
}

.label .remember-title {
	display: inline-block;
	font-size: 0.9rem;
	margin-left: 5px;
	width: 100%;
}

input[type=checkbox] {
	background: var(--color-white-1);
	background-origin: border-box;
	border: 1px solid var(--color-gray-6);
	border-radius: 0.275rem;
	display: inline-block;	
	height: 1em;
	padding: 0;
	width: 1.2em;
}

input[type=checkbox]:checked {
	cursor: pointer;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
	background-color: currentColor;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: 1px solid var(--color-gray-6);
}

input[type=submit] {
	--btn-padding-x: 1.2rem;
	--btn-padding-y: 0.375rem;
	--btn-font-family: ;
	--btn-font-size: 0.785rem;
	--btn-font-weight: 500;
	--btn-line-height: 1.6;
	--btn-color: var(--color-white-1);
	--btn-bg: var(--color-black-3);
	--btn-border-width: 0.5px;
	--btn-border-color: transparent;
	--btn-border-radius: 0.375rem;
	--btn-hover-border-color: transparent;
	--btn-box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.15), 0 1px 1px hsla(0, 0%, 0%, 0.075);
	background: var(--btn-bg);	
	border: var(--btn-border-width) solid var(--btn-border-color);
	border-radius: var(--btn-border-radius);
	box-shadow: var(--btn-box-shadow);
	color: var(--btn-color);
	cursor: pointer;
	display: inline-block;
	font-family: var(--btn-font-family);
	font-size: var(--btn-font-size);
	font-weight: var(--btn-font-weight);
	letter-spacing: 1.2px;
	line-height: var(--btn-line-height);
	padding: var(--btn-padding-y) var(--btn-padding-x);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	user-select: none;
	vertical-align: middle;
}

input[type=submit]:hover {
	background: var(--color-black-4);
}

/*
 * USE: SMARTPHONE-VERTICAL
 */
@media (min-width: 552px)
{
	.content .status {
		justify-content: flex-start;
		text-align: justify;
	}

	header .container .menu a {
		font-size: 1.1em;
	}

	.content .status h2 {
		font-size: 2.4em;
		margin-left: 0;
		margin-top: 100px;
	}

	.content .status h2 span {
		font-size: 1.9em;
		line-height: 60px;
		margin-left: -5px;
	}

	.content .status code {
		font-size: 0.7em;
		margin-left: 0;
		padding-right: 15px;
	}

	.content .status code .check,
	.content .status code .check svg { 
		height: 20px;
		width: 34px; 
	}

	.content .status code span {
		font-size: 1.3em;
		line-height: 1.6;
	}

	.content .status .status-message {
		margin: 10px 0;
		font-size: .8em;
	}

	.resources {
		margin-left: 0;
		margin-right: 0;
		padding-bottom: 20px;
	}

	.resources .learn h3,
	.resources .discuss h3,
	.resources .contribute h3,
	.dark-theme .resources .learn h3,
	.dark-theme .resources .discuss h3,
	.dark-theme .resources .contribute h3 {
		font-size: 1.2em;
		padding: 12px;
		padding-left: 60px;
	}

	.resources .learn h3 .icon-books:before,
	.resources .discuss h3 .icon-embed:before,
	.resources .contribute h3 .icon-users:before {
		margin-top: 3px;
		padding-left: 10px;
	}

	.resources .learn p,
	.resources .discuss p,
	.resources .contribute p,
	.dark-theme .resources .learn p,
	.dark-theme .resources .discuss p,
	.dark-theme .resources .contribute p {
		font-size: 1em;
		margin-bottom: 20px;
		margin-left: 25px;
		margin-right: 20px;
		margin-top: 20px;
	}

	.container .footer {
		justify-content: space-between;
		grid-auto-flow: column;
		margin-top: 5px;
		margin-bottom: 25px;
	}

	.container .footer .btnTheme {
		height: 25px;
		width: 50px;
	}

	.container .footer .btnTheme .indicator {
		height: 25px;
		width: 25px;
	}

	.dark-theme .container .footer .btnTheme.active .indicator {
		left: 1.59rem;
	}

	.container .footer .btnTheme .fas {
		font-size: 0.9em;
		left: 7px;
		top: 0;
	}

	.form-group-container {
		width: 100%;
	}
	
	.form-group-card {
		border-radius: var(--card-border-radius);
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		max-width: 28rem;
	}
}

/*
 * USE: TABLET
 */
@media (min-width: 1024px)
{
	.container {
		width: 1020px;
	}

	.content .status h2 {
		font-size: 3.2em;
		margin-top: 110px;
	}

	.content .status h2 span {
		font-size: 1.9em;
		line-height: 70px;
	}

	.content .status code {
		margin-top: 25px;
		padding-top: 5px;
	}

	.content .status code .check {
		margin-top: 2px;
	}

	.content .status code span {
		font-size: 1.55em;
		line-height: .7;
	}

	.content .status .status-message {
		font-size: 1em;
	}

	.resources {
		font-size: 0.8em;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-gap: 0;
		margin-top: 70px;
	}

	.resources .learn,
	.dark-theme .resources .learn {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 0;
		border-top-left-radius: 10px;
		border-top-right-radius: 0;
	}

	.resources .discuss,
	.dark-theme .resources .discuss {
		border-radius: 0;
	}

	.resources .contribute,
	.dark-theme .resources .contribute {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 10px;
		border-top-left-radius: 0;
		border-top-right-radius: 10px;
	}

	.resources .learn h3,
	.dark-theme .resources .learn h3 {
		border-top-right-radius: 0;
	}

	.resources .discuss h3,
	.dark-theme .resources .discuss h3 {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.resources .contribute h3,
	.dark-theme .resources .contribute h3 {
		border-top-left-radius: 0;
	}

	.container .footer {
		margin-top: 5px;
	}
}

/*
 * USE: 720p HD
 */
@media (min-width: 1180px)
{
	.container {
		width: 1180px;
	}

	header .container .menu a {
		font-size: 1.1em;
	}

	.status h2 {
		font-size: 3.2em;
		margin-top: 50px;
	}

	.status h2 span {
		font-size: 2em;
		line-height: 80px;
	}

	.status code {
		margin-top: 20px;
		padding-top: 5px;
	}

	.status code .check { 
		margin-top: 2px;
	}

	.status code span {
		font-size: 1.7em;
		line-height: .7;
	}

	.status .status-message {
		font-size: 0.9em;
	}

	.resources {
		font-size: 0.9em;
		top: 10px;
	}

	.container .footer {
		margin-top: 20px;
	}
}

/* USE: NOTEBOOK 15.6"  */
@media (min-width: 1920px)
{
	.container {
		width: 1520px;
	}

	header .brand svg {
		height: 55px;
		width: 55px;	
	}

	header h1 {
		font-size: 2.2em;
	}

	header .container .menu a {
		font-size: 1.5em;
	}

	.status h2 {
		font-size: 4rem;
		margin-top: 190px;
	}

	.status h2 span {
		font-size: 1.9em;
		line-height: 100px;
	}

	.status code {
		margin-top: 25px;
		padding-top: 5px;
	}

	.status code .check {
		height: 25px;
		width: 40px;
	}

	.status code .check svg {
		height: 25px;
		width: 40px; 
	}

	.status code span {
		font-size: 2em;
		line-height: .7;
	}

	.status .status-message {
		font-size: 1.28em;
	}

	.resources {
		margin: 170px 5px 0 5px;
		padding-top: 1px;
	}
	
	.resources .learn h3,
	.resources .discuss h3,
	.resources .contribute h3, 
	.dark-theme .resources .learn h3,
	.dark-theme .resources .discuss h3,
	.dark-theme .resources .contribute h3 {
		font-size: 1.6em;
		padding: 13px;
		padding-left: 70px;
	}

	.resources .learn h3 .icon-books:before,
	.resources .discuss h3 .icon-embed:before,
	.resources .contribute h3 .icon-users:before {
		font-size: 1.3em;
	}
	
	.resources .learn p,
	.resources .discuss p,
	.resources .contribute p,
	.dark-theme .resources .learn p,
	.dark-theme .resources .discuss p,
	.dark-theme .resources .contribute p {
		font-size: 1.4em;
		margin: 25px;
		letter-spacing: .4px;
	}
	
	.container .footer {
		font-size: 1.3em;
		margin-top: 10px;
	}
	
	.container .footer .btnTheme {		
		height: 31px;
		width: 57px;
	}
	
	.container .footer .btnTheme .indicator {
		height: 30px;
		width: 30px;
	}
	
	.dark-theme .container .footer .btnTheme.active .indicator {
		left: 1.65rem;
	}

	.container .footer .btnTheme .fas {
		font-size: 0.9em;
		left: 7.5px;
		top: 0;
	}
	
	.container .footer p {
		font-size: 0.8em;
	}
}